body{
  font-family: Arial;
  margin: 0;
  background-color: white;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
}



header {
  background-color:#0056b3;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  margin: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333; 
  display: flex; 
  justify-content: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

li {
  margin: 0 10px; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px; 
  font-family: Arial;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  border-radius: 5px;
}


li a:hover {
  background-color: black; 
  transform: scale(1.20); 
}




td{
  text-align: center;
  padding: 30px 50px 30px 50px;
  font-size: 18px;
}

p{
  font-family: Calibri;
  margin-left:70px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
}

a{
  text-decoration: none;
  color: #0056b3;
}

#editbutton{
  background-color:#0056b3;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

#deletebutton{
  background-color: #dc3545;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 20px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
}

#editbutton:hover, #deletebutton:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}


