body {
  margin: 0;
  font-family: Arial;
  background-color: white;
  color: black;
}

header {
  background-color:#0056b3;
  color: white;
  text-align: center;
  padding: 18px 0;
  font-size: 24px;
  font-weight: bold;
}

#p{
  text-align: center;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 350px;
  text-align: center;
  padding: 20px;
  margin-left: 30px;
}

.card h2 {
  margin: 10px 0;
  font-size: 22px;
}

.card p {
  margin: 5px 0;
}

#vending1button, #vending2button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 200px;
}


#vending1button{
  margin-left: 500px;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2); 
}


#vending2button{
  margin-left: 220px;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}


#vending1image{
  padding-top: 30px;
  padding-left:445px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}


#vending2image{
  padding-top: 30px;
  padding-left: 120px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}



